@tailwind base;
@tailwind components;
@tailwind utilities;
/*landing page*/
.landingpage{
    background-image: url("back.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    background-color:#E7DEcc;
    height:95%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}.landingpage::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
#animate{
    display: block;
    width: fit-content;
    font-size: 3rem;
    padding-bottom: 20px;
    position: relative;
    color: transparent;
    animation: text_reveler 1s ease forwards;
    animation-delay: 1s;
    -webkit-animation: text_reveler 1s ease forwards;
}
#animate:nth-child(1){
  animation-delay: 1s;
}
#animate:nth-child(2){
  animation-delay: 2s;
}
#animate:nth-child(3){
  animation-delay: 3s;
}
  #animate span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal 1s ease;
    animation-delay: 1s;
    -webkit-animation: text_reveal 1s ease;
}
#animate:nth-child(1) span{
  animation-delay: .5s;
}
#animate:nth-child(2) span{
  animation-delay: 1.5s;
}
#animate:nth-child(3) span{
  animation-delay: 2.5s;
}



  @keyframes text_reveal {
    50%{
      width: 100%;
      left: 0;
    }
    100%{
      width: 0;
      left: 100%;
    }
  }
  @keyframes text_reveler {
    100%{
      color: white;

    }
    
  }
.button{
    display: inline-block;
    padding: 10px 30px;
    transition: .2s ease;
    transition-property: background-color,color;
    color: #ef9273;
    background-color: transparent;
    border: 2px solid #ef9273;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}
.button:hover{
  color: black;
  background-color: #ef9273;
  
}
.aboutpage{
  background-color: #c8d8e4;

}

#card{
 
  padding:20px;
  line-height: 1.7;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;

}
@media screen and (min-width: 1024px){
  #card{
    height: 80%;
    color: black;
    width: 90%;
  }
  #flex{
    flex-direction: row;
  }

  #mycard{
    height: 500px;
    padding-top:50px;
    background-color: transparent;
  }
}

.title{
  padding: 8px;
  font-size: 30px;
  font-weight: bolder;
}
#sectiontitle{
  font-size: 30px;
  text-align: center;
  color: #0d0d0d;
  font-style: italic;
  font-weight: bold;
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}
.partone{
  padding:10px;
  text-align:left;
  font-size: 18px;
  color: black;
}
#mycard{
  background-color: transparent;
  text-align: left;
}
#content{
  line-height: 2;
}
footer{
  height: 30px;
}
/*project*/
@keyframes transitionIn {
  from{
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
to{
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
  
}
#preloader{
  background: #0d0d0d url(loader.gif) no-repeat center center;
  background-size:30% ;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;

}
/*timeline section*/
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.experience{
  background: whitesmoke;
}
::selection{
  color: blue;
  background: yellow;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}
#paragraph{
  line-height: 1.7;
  font-family: 'Source Sans Pro', sans-serif;
  
}
#innercard{
  background-color: transparent;
}